# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=hireready
DB_USER=postgres
DB_PASSWORD=asosd

# JWT
JWT_SECRET=code
JWT_EXPIRES_IN=7d

# Server
PORT=5000
NODE_ENV=development

# Client URL for CORS
CLIENT_URL=http://localhost:5173

# File Upload
UPLOAD_DIR=uploads
MAX_FILE_SIZE=10485760

# Gemini AI
GEMINI_API_KEY=sk..
GEMINI_MODEL=gemini-flash-latest

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

SMTP_USER=xx
SMTP_PASS=wjfjf jo dd joe 

EMAIL_FROM=HireReady <hire ready@gmail.com>
